

body {
    background-color: #FEFFF5;
    background-image: url(indexbgimage.png);
    background-size: 100%;
}



div.intersectionalgif{
    margin-top: 205px;
    margin-left: 940px;
}

div.aigfawaits{
    margin-left: 150px;
    margin-top: 90px;
}

div.cyberbabes{
    margin-top: 50px;
    margin-left: 450px;
}