

body {
    background-color: #FEFFF5;
    background-image: url(indexbgimage.png);
    background-size: 100%;
}



div.intersectionalgif{
    height: 10%;
    margin-top: 100px;
    margin-left: 300px;
}